.portfolio-item__section.container--first
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The Objective
    %p
      This is what the Goldbely checkout experience looked like when I started redesigning it:

    = image_tag "#{ item.sample_image_path }before.jpg", alt: "#{ item.name } Before"

    %p
      There were two main problems with the existing checkout flow that we wanted to solve:

    %ol
      %li
        Users were often confused about how to proceed to the next step. We found this in user testing, and occasionally had customers emailing in asking how to finish their purchase. With the existing checkout, each time a user wanted to move to the next step, he had to find the correct button and click it, wherever it was on the screen. To fix this I wanted to provide a clear direction and keep the button for the next step in a consistent location.
      %li
        Users did not notice that they could change their delivery date at checkout — and then they emailed us later asking to change it. One of our coolest features is the ability to schedule orders to arrive at a future date, so I wanted to make it a central part of the checkout experience.

.portfolio-item__section
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The Mockups
  .container.container--page-width
    %p
    = image_tag "#{ item.sample_image_path }mockup.jpg", alt: "#{ item.name } Mockup (Filled State)"

    %br
    %p
      If payment info or shipping info has not been filled out, the user will see the next step in the process in place of the "Complete Order" button:

    = image_tag "#{ item.sample_image_path }mockup-empty.jpg", alt: "#{ item.name } Mockup (Empty State)"

.portfolio-item__section
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The Final Product
  .container.container--page-width
    = image_tag "#{ item.sample_image_path }final-product.jpg", alt: "#{ item.name } Final Product"
  .container.container--page-width.container--content
    %br
    %p
      This is what the cart looks like now. I made a few tweaks during implementation, and have also made some changes since the initial redesign.
