%li.portfolio-item-cover{ class: "portfolio-item-cover--#{ item.slug }" }>
  %a.porfolio-item-cover__content.portfolio-item-cover__aspect-container{ href: portfolio_items_path( item.slug ), title: item.name }

    .portfolio-item-cover__aspect
      = image_tag "#{ item.sample_image_path }cover.jpg", class: 'portfolio-item-cover__image', alt: "#{ item.name } Portfolio Cover"
      .portfolio-item-cover__gradient
        .portfolio-item-cover__title= item.name

      .portfolio-item-cover__dark-overlay

    .portfolio-item-cover__blurb
      %span= item.blurb
