.portfolio-item-sample.js__portfolio-item-sample{ class: "portfolio-item-sample--#{ item.slug }", data: { sample: item.slug } }
  .header-push

  .portfolio-item-sample__content
    .portfolio-item-sample__title
      %h1= item.name

    .portfolio-item-sample__blurb
      = item.blurb

    = image_tag "#{ item.sample_image_path }sample.png", class: 'portfolio-item__image', alt: "#{ item.name } Portfolio Sample"

    .portfolio-item-sample__links
      - if item.outbound_link.present?
        = link_to item.outbound_link.label, item.outbound_link.url, target: '_blank', class: 'btn btn-sm link--outbound'
