.browser-frame
  .browser-frame__chrome
    .browser-frame__buttons
      .browser-frame__round-button
      .browser-frame__round-button
      .browser-frame__round-button
    .menu-icon
      .menu-icon__line
      .menu-icon__line
      .menu-icon__line

  .browser-frame__screen
    .browser-screen__border
    = image_tag "#{ item.sample_image_path }#{ image_filename }", alt: "#{ item.name }: #{ desc }"
