.browser-frame
  .browser-frame_chrome
    .browser-frame_buttons
      .browser-frame_round-button
      .browser-frame_round-button
      .browser-frame_round-button
    .menu-icon
      .menu-icon_line
      .menu-icon_line
      .menu-icon_line

  .browser-frame_screen
    .screen_border
    = image_tag "#{ item.sample_image_path }#{ image_filename }", alt: "#{ item.name }: #{ desc }"
