.iphone-frame
  .iphone-frame__camera
  .iphone-frame__sensor
  .iphone-frame__speaker
  .iphone-frame__screen
    = image_tag "#{ item.sample_image_path }#{ image_filename }", alt: "#{ item.name }: #{ desc }"
  .iphone-frame__home-button
