- content_for :title, 'Portfolio'

= render 'layouts/single_page_nav'

.heading--page
  .heading__background-image
  %h2 Portfolio

.content.portfolio-items
  - portfolio_items.each_with_index do |item, index|
    .portfolio-item.js__portfolio-item{ id: "portfolio-item--#{ item.slug }" }
      .container.container--page-width.container--content
        %h3.heading--section.portfolio-item__name= item.name

        .portfolio-item__image-container
          - if index.even?
            = image_tag "#{ item.sample_image_path }cover.jpg", class: 'portfolio-item__image'
          - else
            = image_tag "#{ item.sample_image_path }cover_gray.jpg", class: 'portfolio-item__image'

        .portfolio-item__text-content
          = render 'portfolio_items/partials/item_info', { item: item }

          .portfolio-item__blurb= item.blurb

          .portfolio-item__link-container
            - if item.show_case_study?
              = link_to 'Read case study', portfolio_items_path( item.slug ), class: 'btn btn-sm btn-primary'

            - if item.outbound_link.present?
              = link_to item.outbound_link.label, item.outbound_link.url, target: '_blank', class: 'btn btn-sm btn-default'
