- content_for :title, @item.name

.header-push
.container.container--page-width.container--first.container--content
  .heading--portfolio-item
    = link_to work_path, class: 'portfolio-item__all-projects-link' do
      %i.fa.fa-chevron-left
      All Projects

    %h1= @item.name

.content
  = render @item.description_partial_path, { item: @item }

  - if @item.outbound_link.present?
    .portfolio-item__link-container
      = link_to @item.outbound_link.label, @item.outbound_link.url, target: '_blank', class: 'btn btn-primary-hollow'

  = render 'layouts/back_to_top'
