.portfolio-item.js__portfolio-item{ class: "portfolio-item--#{ @portfolio_item.slug }"}

  = render 'samples'

  .container.container--last.container--page-width.container--content
    .portfolio-item__heading
      - if @portfolio_item.outbound_link.present?
        = link_to @portfolio_item.outbound_link.url, target: '_blank', title: @portfolio_item.outbound_link.label do
          %h2.portfolio-item__title= @portfolio_item.name
      - else
        %h2.portfolio-item__title= @portfolio_item.name

      .portfolio-item__subtitle #{ @portfolio_item.role } &nbsp;|&nbsp; #{ @portfolio_item.timeframe }

    .portfolio-item__description
      = render @portfolio_item.description_partial_path

    .portfolio-item__links
      .col-left
        - if @prev_portfolio_item.present?
          = link_to portfolio_items_path( @prev_portfolio_item.slug ), class: 'prev-link btn btn-primary' do
            %i.glyphicon.glyphicon-chevron-left
            Previous
            %span.link--hidden-sm
              Project
      .col-right
        - if @next_portfolio_item.present?
          = link_to portfolio_items_path( @next_portfolio_item.slug ), class: 'next-link btn btn-primary' do
            Next
            %span.link--hidden-sm
              Project
            %i.glyphicon.glyphicon-chevron-right

      .col-mid
        - if @portfolio_item.outbound_link.present?
          = link_to @portfolio_item.outbound_link.label, @portfolio_item.outbound_link.url, target: '_blank', class: 'btn btn-default link--hidden-md'

