.portfolio-item.js__portfolio-item{ class: "portfolio-item--#{ @portfolio_item.slug }"}
  .container.container--first.container--page-width.container--content.container--portfolio-samples
    .portfolio-item__samples-container
      .portfolio-item__samples.js__samples
        - @portfolio_item.samples.each do |sample|
          .portfolio-item__sample.js__sample{ data: { name: sample.slug } }>
            .sample__image-container
              = image_tag "portfolio/samples/#{ @portfolio_item.slug }/#{ sample.slug }.jpg", class: 'sample__image'

            - if sample.caption
              .portfolio-item__caption
                %p= sample.caption.html_safe

      - if @portfolio_item.samples.length > 1
        .js__samples-navigation.hidden
          .arrow-prev.js__arrow-prev
            %i.glyphicon.glyphicon-chevron-left
          .arrow-next.js__arrow-next
            %i.glyphicon.glyphicon-chevron-right

          .dot-navigation.portfolio-item__match-width--image
            .dot-navigation__dots.js__dots
              - @portfolio_item.samples.each do |sample|
                .dot-navigation__dot-container.js__dot{ data: { name: sample.slug } }>
                  .dot-navigation__dot
              .dot-navigation__dot-fill.js__dot-fill

  .container.container--last.container--page-width.container--content
    .portfolio-item__heading
      - if @portfolio_item.outbound_link.present?
        = link_to @portfolio_item.outbound_link.url, target: '_blank', title: @portfolio_item.outbound_link.label do
          %h2.portfolio-item__title= @portfolio_item.name
      - else
        %h2.portfolio-item__title= @portfolio_item.name

      .portfolio-item__subtitle #{ @portfolio_item.role } &nbsp;|&nbsp; #{ @portfolio_item.timeframe }

    .portfolio-item__description
      = render @portfolio_item.description_partial_path

    .portfolio-item__links
      .col-left
        - if @prev_portfolio_item.present?
          = link_to portfolio_items_path( @prev_portfolio_item.slug ), class: 'prev-link btn btn-primary' do
            %i.glyphicon.glyphicon-chevron-left
            Previous
            %span.link--hidden-sm
              Project
      .col-right
        - if @next_portfolio_item.present?
          = link_to portfolio_items_path( @next_portfolio_item.slug ), class: 'next-link btn btn-primary' do
            Next
            %span.link--hidden-sm
              Project
            %i.glyphicon.glyphicon-chevron-right

      .col-mid
        - if @portfolio_item.outbound_link.present?
          = link_to @portfolio_item.outbound_link.label, @portfolio_item.outbound_link.url, target: '_blank', class: 'btn btn-default link--hidden-md'

