- content_for :title, 'Home'

.heading--page-with-background-image.heading--about.js__scroll-past-container
  .scroll-past
    = link_to '', '#', class: 'js__scroll-past-trigger'
  .heading__background-image
  .about__gradient
  .container.container--page-width.container--content
    .about__hero-text
      %h4
        I design simple, intuitive interfaces that make people’s lives easier.

      = link_to 'View My Work', work_path, class: 'btn btn-lg about__view-work'

.content.content--about
  .container.container--page-width.container--first.container--last.container--content
    .about__content
      %p
        I’ve worked in startups my whole career, and thrive in a fast-paced environment where I’m constantly iterating. I'm used to taking ownership of everything I design, and seeing it through from ideation through implementation. I'm excellent at translating user feedback into design priorities. I have lots of experience running <strong>user tests</strong>, identifying funnel drop-off points, and coding in <strong>HTML/CSS & JavaScript</strong>.

      %p
        I'm a design generalist, but I'm especially focused on <strong>usability and interaction design</strong>. I approach design by finding points of a friction and eliminating them. Users have a limited supply of cognitive resources which are used up not only by the apps they use, but also by life in general. As users encounter something confusing or difficult, they have to expend cognitive resources, and they're more likely to become frustrated and leave. This carries over to the rest of their lives, and they become less equipped to handle the challenges they face day to day.
        %strong
          Good design has a huge impact on users' quality of life.

      %p
        Right now I'm a UI/UX designer at #{ link_to 'Goldbely', 'https://www.goldbely.com', class: 'text-link--white' }, an e-commerce startup in San Francisco. Send me a note at #{ mail_to 'angelacbpotter@gmail.com', 'angelacbpotter@gmail.com', class: 'text-link--white' } if you want to get in touch!

  = render 'layouts/back_to_top'


