- content_for :title, 'Resume'

.heading--page-with-background-image.heading--resume
  .heading__background-image

  .container.container--page-width.container--first.container--last.container--content
    .resume__section
      %h3.heading--section Experience
      .resume__subsection
        %p
          %strong UI/UX Designer &nbsp;|&nbsp; #{ link_to 'Goldbely', 'https://goldbely.com', class: 'text-link--white' }
          %br
          June 2014–present in San Francisco
        %ul
          %li Manage the full web design lifecycle, from concept through implementation
          %li Code in HAML/SASS and CoffeeScript
          %li Conduct user testing and translate notes into design priorities
          %li Improve front-end analytics to identify funnel dropoff points

      .resume__subsection
        %p
          %strong UX Designer &nbsp;|&nbsp; #{ link_to 'OLSET', 'https://olset.com', class: 'text-link--white' }
          %br
          July 2013-June 2014 in San Francisco
        %ul
          %li Sole designer and front-end developer
          %li Responsible for metrics, user testing, and landing page optimization
          %li Participated in 500 Startups Batch 7 with OLSET

      .resume__subsection
        %p
          %strong Interaction Designer &nbsp;|&nbsp; MyFive
          %br
          Dec 2012–June 2013 in Seattle
        %ul
          %li Designed and implemented the company's first ever user testing program
          %li Spec'd out new application with interactive wireframes
          %li Coded working prototypes in HTML and JQuery

    .resume__section
      %h3.heading--section Skills
      .resume__subsection
        %p
          %strong Design
          %br
          Interaction design, wireframing, user testing, responsive mockups

        %p
          %strong Software
          %br
          Sketch, Balsamiq, Adobe Photoshop

        %p
          %strong Web Development
          %br
          HTML, CSS, Javascript, Git

    .resume__section
      %h3.heading--section Education
      .resume__subsection
        %p
          Bachelor of Music in Music Cognition &amp; Flute Performance
          %br
          %strong Northwestern University
          &nbsp;|&nbsp; June 2012 in Evanston, IL

    .resume__section
      %h3.heading--section Contact
      .resume__subsection
        %ul.list-unstyled
          %li
            = link_to social_urls.linkedin, target: '_blank', class: 'text-link--white' do
              <strong>linkedin</strong>.com/in/angelacbpotter
          %li
            = mail_to contact_info.email, contact_info.email, class: 'text-link--white'

  = render 'layouts/back_to_top'
