- content_for :title, 'Resume'

.header-push
.content.clearfix.container.container--page-width.container--first.container--last.container--content
  .resume__section
    %h3.heading--section Experience
    .resume__subsection
      .resume__subheading
        = link_to current_job.company, current_job.website, class: 'text-link--default'
      .resume__role
        #{ current_job.position }, Nov 2017–present
      %ul
        %li Led design on the first-ever Kelvin Control Model interface
        %li Designed data visualizations for beam pumps and naural gas wells
        %li Organized and led design planning meetings, retrospectives, and feedback sessions

    .resume__subsection
      .resume__subheading
        = link_to 'DoubleDutch', 'https://doubledutch.me', class: 'text-link--default'
      .resume__role
        Senior Product Designer, Feb 2017–Oct 2017
      %ul
        %li Oversaw end-to-end design for all products
        %li Maintained and enforced style guides across web and mobile

    .resume__subsection
      .resume__subheading
        = link_to 'DoubleDutch', 'https://doubledutch.me', class: 'text-link--default'
      .resume__role
        Product Designer, May 2016–Feb 2017
      %ul
        %li Designed all CMS and event reporting products
        %li Enabled self-service for 50% of customers with a CMS onboarding wizard
        %li Created the company’s first web styleguide

    .resume__subsection
      .resume__subheading
        = link_to 'Goldbely', 'https://goldbely.com', class: 'text-link--default'
      .resume__role
        UI/UX Designer, June 2014–April 2016
      %ul
        %li Reduced support tickets by improving the order scheduling and tracking experience
        %li Implemented designs in HAML/SASS and CoffeeScript

    .resume__subsection
      .resume__subheading
        = link_to 'OLSET', 'https://olset.com', class: 'text-link--default'
      .resume__role
        UX Designer/Developer, July 2013–June 2014
      %ul
        %li Sole designer and front-end developer
        %li Participated in 500 Startups Batch 7 with OLSET


  .resume__section
    %h3.heading--section Education
    .resume__subsection
      .resume__subheading
        Northwestern University
      .resume__role Bachelor of Music in Flute Performance & Music Cognition
      .resume__role June 2012, Evanston, IL

  .resume__section
    %h3.heading--section Skills
    .resume__subsection
      Product design, user research, problem solving, task flows, information architecture

  .resume__section
    %h3.heading--section Tools
    .resume__subsection
      Sketch, Balsamiq, Adobe Photoshop, Google Analytics, HTML/CSS

= render 'layouts/back_to_top'
