= render 'layouts/back_to_top'

.footer--social
  .container.container--page-width.container--content
    %ul.list-unstyled.social--contact
      %li.list-unstyled>
        = mail_to contact_info.email, '', title: 'Send me an email', class: 'social-link fa fa-envelope'
      %li.list-unstyled>
        = link_to '', "tel:#{ contact_info.phone }", title: 'Give me a call', class: 'social-link fa fa-phone'
    %ul.list-unstyled.social--profiles
      %li.list-unstyled>
        = link_to '', social_urls.linkedin, target: '_blank', title: 'LinkedIn', class: 'social-link fa fa-linkedin'
      %li.list-unstyled>
        = link_to '', social_urls.twitter, target: '_blank', title: 'Twitter', class: 'social-link fa fa-twitter'
      %li.list-unstyled>
        = link_to '', social_urls.dribbble, target: '_blank', title: 'Dribbble', class: 'social-link fa fa-dribbble'
      %li.list-unstyled>
        = link_to '', social_urls.stack_exchange, target: '_blank', title: 'UX StackExchange', class: 'social-link fa fa-stack-exchange'
      %li.list-unstyled>
        = link_to '', social_urls.github, target: '_blank', title: 'Github', class: 'social-link fa fa-github-alt'
