!!!
%html
  %head
    %title Angela Potter
    %meta{content: "Interaction designer in the Bay Area.", name: "description"}
      %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %meta{content: "width=device-width", name: "viewport"}

      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,200,600'

      = javascript_include_tag "//code.jquery.com/jquery-2.1.4.min.js"
      = javascript_include_tag 'application', 'data-turbolinks-track' => true

      = csrf_meta_tags
  %body{ class: body_css_class }
    = render partial: 'layouts/header'
    .wrapper
      = yield

    = render partial: 'layouts/footer'

    #smallWidth.media-query
