!!!
%html
  %head
    %title Angela Potter
    %meta{content: "Interaction designer in the Bay Area.", name: "description"}
      %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %meta{content: "width=device-width", name: "viewport"}

      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,200,700'

      = javascript_include_tag "//code.jquery.com/jquery-2.1.4.min.js"
      = javascript_include_tag 'application', 'data-turbolinks-track' => true

      = csrf_meta_tags
  %body{ class: body_css_class }
    .container-xl
      = render partial: 'application/header'
      .content-container
        = yield

        .contact.footer
          .content-container
            .left
              %a{ href: "malto:angelacbpotter@gmail.com", title: "email me"}
                .socialIcon.email
              %a{ href: "tel:2069498204", title: "call me"}
                .socialIcon.phone
            %a{ href: "http://www.linkedin.com/in/angelacbpotter/", target: "_blank", title: "LinkedIn"}
              .socialIcon.linkedIn
            %a{ href: "https://twitter.com/takehypotenuses", target: "_blank", title: "Twitter"}
              .socialIcon.twitter
            %a{ href: "https://dribbble.com/angelapotter", target: "_blank", title: "Dribbble"}
              .socialIcon.dribbble
            %a{ href: "http://ux.stackexchange.com/users/27505/angelapotter", target: "_blank", title: "UX StackExchange"}
              .socialIcon.stackExchange
            %a.margin-right--none{ href: "https://github.com/angelapotter", target: "_blank", title: "Github"}
              .socialIcon.github
    #smallWidth.media-query
